.contact-section {
  width: 100%;
  min-height: 100vh;
  padding: 50px 10%;
  background:#081b29;
  text-align: center;
  position: absolute;
}

.contact-title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: white;
  font-weight: 700;
}

.contact-title span {
  color: #00abf0;
}

.contact-form {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group input {
  width: 50%;
  padding: 14px;
  font-size: 15px;
  border: none;
  color: #fff;
  background: transparent;
  border-bottom: 2px solid #00abf0;
  outline: none;
}

textarea {
  width: 100%;
  height: 180px;
  padding: 14px;
  font-size: 15px;
  background: transparent;
  border: 2px solid #00abf0;
  color: #fff;
  outline: none;
  resize: none;
  margin-bottom: 25px;
}

.send-btn {
  width: 200px;
  padding: 14px 0;
  background: #00abf0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: .3s ease-in-out;
}

.send-btn:hover {
  background: #0088c2;
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 171, 240, 0.4);
}


@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input {
    width: 100%;
  }
}
